@charset "utf-8";
html #layui_layer_skinyourskinstylecss{display:none; position: absolute; width:1989px;}
body .layui-layer{border:10px solid rgba(0,0,0,0.2);border:10px solid #999\9;box-shadow:none;}
body .layer_skin_yourskin .layui-layer-content{ margin:0 auto; text-align:center;padding:40px 0 35px 0; font-size:16px;height: auto !important;}
body .layer_skin_yourskin .layui-layer-title{/*background-color:#f95353;*/color:#fff;font-size:18px;height:52px;line-height:52px;border-radius:0;height:48px; background: url(../../../../img/user_center/gamebg.png) no-repeat;}
body .layer_skin_yourskin .layui-layer-setwin .layui-layer-close1{ background:url(icc.png) -158px -37px;}
body .layer_skin_yourskin .layui-layer-btn{/*width:180px;*/height:40px; line-height:40px; font-size:16px; margin:0px auto 0; padding:0 0 35px;text-align:center;overflow:hidden;}
body .layer_skin_yourskin .layui-layer-btn a{margin:0 auto;padding:0;background:#f0f4f8; border:none;/*color:#f94e53;*/color:#fff;width:120px; height:40px;line-height:40px;}

body .layer_skin_yourskin .layui-layer-btn .layui-layer-btn0{/*width:180px; height:48px; */background:#37bbf2;/* border-radius:2px; border:none; font-size:20px; line-height:48px; padding:0; text-align:center; color:#ffffff; margin:48px 0 0 120px;*/}
body .layer_skin_yourskin .layui-layer-btn .layui-layer-btn1{margin:0 0 0 10px;color:#333;}


body .layer_skin_yourskin .layui-layer-dialog {min-width: 260px;}