@charset "utf-8";
/* CSS Document */
#loginForm{margin-top:10rem;}
.loginItem{width: 92%;display: box;height:10rem;background:#fff;border-bottom:0.2rem solid #d8d8d8;margin:0 3rem;}
.loginImg{width: 12%;height:4rem;margin-top:3rem;float: left;display: inline-block;}
.loginImg img{width:4rem;height:4rem;display:block;margin-left:2.5rem;}
.loginInput{display: inline-block;float: left;-webkit-box-orient: vertical;-webkit-box-pack: center;font-size: 3.4rem;color: #323232;height:9rem;width: 88%;}
.loginInput input{width:100%;height:10rem;line-height:10rem;border:none;outline:none;font-size:3rem;}
.sureBtn{padding:0 3rem;height:10rem;margin-top:6rem;}
.sureBtn input{width:100%;outline:none;border:none;display:block;height:9rem;line-height:9rem;color:#fff;background:#ffaf32;border-radius:8px;font-size:3rem;}
.froget{padding:0 3rem;margin-top:6rem;text-align:right;}
.froget a{font-size:3rem;color:#ffaf32;font-size:3rem;text-decoration:underline;}
.threeLog{padding:0 3rem;margin-top: 20rem;margin-bottom:5rem;min-height: 2rem;overflow: hidden;}
.threeLog .logTit{width:100%;height:0.2rem;background:#b6b6b6;}
.threeLog .logTit span{width:280px;height:3.6rem;background:#fff;position:absolute;z-index:333;left:50%;display:block;margin-left:-140px;font-size:2.8rem;color:#b6b6b6;text-align:center;margin-top:-1.8rem;}
.linkLog{text-align:center;}
.linkLog a.qqLink{width:94px;height:138px;display:inline-block;margin-right:40px;}
.linkLog a.wxLink{width:111px;height:138px;display:inline-block;margin-left:40px;}
/*findPassword*/
.login_form{
    margin-top:10rem;
}
.findPassword{margin-top: 11.5rem;}
.inputText{height:9rem;padding:0 3rem;border-bottom:0.2rem solid #d8d8d8;background:#fff;}
.inputText input{height:9rem;font-size:3rem;border:none;width:100%;display:block;outline:none;}
.aq_bt{    position: absolute;
    z-index: 33;
    width: 17rem!important;
    height: 5rem!important;
    color: #fff;
    background: #ffaf32;
    margin-top: -7rem;
    right: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 3rem;
    border: none;}
/*index*/
.lrImg{text-align:center;padding-top:10rem;margin-top:10rem;}
.lrTit{font-size:2.8rem;color:#b1b1b1;text-align:center;padding-top:5rem;margin-bottom:10rem;}
.lrBtn{padding:0 11rem;}
.lrBtn a{display:block;margin-top:3rem;width:100%;outline:none;display:block;height:8.8rem;line-height:8.8rem;border-radius:8px;font-size:3rem;text-align:center;}
.linkLogin{color:#fff;background:#ffaf32;border:0.2rem solid #ffaf32;}
.linkReg{color:#b1b1b1;background:#fff;border:0.2rem solid #b1b1b1;}
/*register*/
.rolerTabs{min-height:5rem;overflow:hidden;display:block;font-size:3rem;margin:0;padding:0;background:#fff;margin-top:10rem;}
.rolerTabs li{width: 50%;height:9rem;line-height:9rem;text-align:center;float: left;display: block;border-bottom:0.2rem solid #d8d8d8;}
.rolerTabs li a{color:#323232;display: block;}
.rolerTabs li.selected{border-bottom: 0.2rem solid #ffaf32;}
.rolerTabs li.selected a{color:#ffaf32;}

.registerList{margin:0 auto;margin-top:2.5rem;min-height:5rem;overflow:hidden;}
.registerList > li{display:block;border-bottom:2px solid #d8d8d8;width:100%;float:left;font-size:3rem;color:#323232;background:#ffffff;}
.registerList li .infobox{display: box;display: block;height:9rem;}
.registerList li .infobox > span{width: 30%;color:#323232;font-size:3rem;display:inline-block;height:9rem;line-height:9rem;text-indent: 3rem;display: block;float: left;}
.registerList li .infobox .infoInput{display: block;float: left;width: 70%;color:#323232;font-family:"微软雅黑";}
.registerList li .infobox .infoInput .InputWhere input{width: 100%;border:none;outline:none;font-size:3rem;color:#323232;white-space: nowrap;text-overflow: ellipsis;text-indent: 3rem;text-align: left;line-height: 9rem;}
.likeWhat{margin-left: 3rem;padding: 3rem 0;}
.registerList .whatList ul{padding-left:3rem;}
.registerList .whatList li{display:block; float:left; width:50%; border:none;margin-bottom:3.5rem;}
.registerList .whatList li i{font-style:normal;}
.registerList .infoInput > ul{padding-left:3rem;min-height: 5rem;overflow: hidden;margin-top: 3rem;}
.registerList .infoInput li{display:block; float:left; width:50%; border:none;}
.registerList .infoInput li i{font-style:normal;font-size:3rem;font-weight:normal;}
.registerList .infoInput .radio_1{opacity:0;position:absolute;width: 15rem;height:4rem;margin-left: -5rem;}
.registerList .infoInput .radio_1 + label{position:relative;display:block;float:left;background:url(../img/rd1.png) no-repeat;width:4rem;height:4rem;float:left;padding-left: 1rem;}
.registerList .infoInput .radio_1:checked + label:after {content: ' '; width:4rem;height:4rem;position:absolute; background:url(../img/rd2.png) no-repeat; background-position:0 0; left:0;}
.registerList .infoInput .aq_bt{margin-top: -7rem;}
.xieyi{padding-left:3rem;padding-top:3rem;margin-bottom:5rem;}
.xieyi .chk_1{opacity:0;position:absolute;width:20rem;height:4rem;margin-left: -5rem;}
.xieyi .chk_1 + label {position:relative;display:block;float:left;background:url(../img/ck1.png) no-repeat;width:4rem;height:4rem;float:left;padding-left: 1rem;}
.xieyi .chk_1:checked + label:after {content: ' '; width:4rem;height:4rem;position:absolute; background:url(../img/ck2.png) no-repeat; background-position:0 0; left:0;}
.alreadRead{font-size:2.8rem;}
/*错误提示*/
.tips .error {padding-left:20px;margin-left:10px;background: url(../img/wrong.png) no-repeat 0px 3px;height:30px;line-height:30px;color: #ffaf32;font-size: 1.8rem;}
